/* src/index.css */
@import "tailwindcss";


/* Configuración del tema para Tailwind v4 */
@theme {
  /* Fondo más profundo y oscuro del Client Draft (Hex de la imagen) */
  --color-lol-bg: #010a13;
  
  /* Azul cian Hextech de la imagen */
  --color-lol-blue: #0ac8b9;
  
  /* Oro metálico rico de la imagen para los marcos */
  --color-lol-gold: #c89b3c;
  
  /* Crema de los nombres de los invocadores de la imagen */
  --color-lol-goldLight: #f0e6d2;
  
  /* Fondo interno de los paneles de equipo y botones */
  --color-lol-gray: #0a1428;
  
  /* Borde sutil interno de los slots de jugador */
  --color-lol-border: #3c3c41;
  
  /* Rojo eléctrico de la imagen */
  --color-lol-red: #ff4655;
}

/* Clases base globales */
@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    background-color: var(--color-lol-bg);
    color: var(--color-lol-goldLight);
    
    font-family: 'Montserrat', 'Oswald', 'Open Sans', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  }

  * {
    @apply uppercase tracking-widest text-xs;
  }
}